OPENAI_API_KEY=...
GROQ_API_KEY=...

DATABASE_URL=...

GPT_MODEL=...
GPT_EMBEDDING_MODEL=...

GROQ_MODEL=...

JWT_SECRET=...

GEMINI_API_KEY=...
GEMINI_MODEL=...
GEMINI_EMBEDDING_MODEL=...

SUPABASE_URL=...
SUPABASE_KEY=...
SUPABASE_BUCKET=uploads

FRONTEND_URL=http://localhost:3000

COGNITO_REGION=us-east-1
COGNITO_USER_POOL_ID=us-east-1_XXXXXXXXX
COGNITO_APP_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
COGNITO_APP_CLIENT_SECRET=
AWS_ACCESS_KEY_ID=AKIA...
AWS_SECRET_ACCESS_KEY=...
